{{ $img2x := $.Page.Resources.GetMatch "cover" }}

{{ $img1x := $img2x.Resize (print (div $img2x.Width 4) "x") }}

<div class="book">
    <a href="{{ .RelPermalink }}">
    <img
        srcset="{{ $img1x.RelPermalink }}, {{ $img2x.RelPermalink }} 2x"
        src="{{ $img2x.RelPermalink }}"
        width="{{ (div $img2x.Width 4) }}"
        height="{{ (div $img2x.Height 4) }}"
        alt="{{ $img2x.Title }}"
    />
    <div class="title">{{ .Params.title }}</div>
    <div class="author">
      {{- range $i, $author := .GetTerms "author" -}}
        {{- if $i }}, {{ end -}}
        <a href="{{ $author.RelPermalink }}">{{ $author.LinkTitle }}</a>
      {{- end -}}
    </div>
</div>
</a>
