{{ define "main" }}
  {{ $img2x := $.Page.Resources.GetMatch "headshot" }}

  {{ $img1x := $img2x.Resize (print (div $img2x.Width 2) "x") }}

  <h1>{{ .Title }}</h1>

  <img
      class="author"
      srcset="{{ $img1x.RelPermalink }}, {{ $img2x.RelPermalink }} 2x"
      src="{{ $img2x.RelPermalink }}"
      width="{{ (div $img2x.Width 2) }}"
      height="{{ (div $img2x.Height 2) }}"
      alt="{{ $img2x.Title }}"
  />

  {{ .Content }}

  <h2>Books</h2>
  <div class="books">
    {{- range .Pages -}}
      {{ partial "book.html" . }}
    {{- end -}}
  </div>

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
